/* general */
div{
  /*font-family: 'Amatic SC';font-size: 22px;*/
  font-family: 'Poiret One', cursive;
  font-size: 22px;
}

h1 {
  text-decoration: underline;
}

.App {
  
  background-image: url('../Images/stars.png');
  background-size: cover;
  
  color: white;
  border-left: 20px solid;
  border-right: 20px solid;
  border-image: url(../Images/stars.png) 30 round;
}

.App-tint {
  background-color: rgba(0, 0, 0, 0.9);
  background-blend-mode: multiply;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* font color generator */


/* Navbar */
.navbar {
  background: linear-gradient(180deg, rgb(150, 150, 150) 40%, rgba(150,150,150,0.95) 75%, rgba(82, 82, 82, 0.5) 100%);
}

.logo {
  height: 100px;
  pointer-events: none;
}

.title {
  width: 400px;
}

.social-media {
 width: 64px;
}

/* Image Card */
.image-card {
  background-image: 
    
    linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%),
    url('../Images/closeUpMirror2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 1050px;
  margin: auto;
  text-align: center;
}

.banner {
  background-color: rgba(201, 37, 37, 0.7);
  width: 66%;
  height: 200px;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  color: white;
}

html, body {
  margin: 0;
  padding: 0;
}

.pic-ctn {
  width: 100vw;
  height: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}


.pic-ctn img{
  border-radius: 10px;
}

@keyframes display {
  0% {
    transform: translateX(27vw);
    opacity: 0;
    
  }/*
  20% {
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }*/
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(-27vw);
    opacity: 0;
  }
}

.pic-ctn {
  position: relative;
  width: 100vw;
  height: 300px;
}

.pic-ctn > img {
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
  opacity: 0;
  animation: display 20s infinite;
  
  animation-timing-function: linear;
  max-height: 300px;
}

img:nth-child(2) {
  animation-delay: 4s;
}
img:nth-child(3) {
  animation-delay: 8s;
}
img:nth-child(4) {
  animation-delay: 12s;
}
img:nth-child(5) {
  animation-delay: 16s;
}

.alert {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

/* content */

.content {
  border: 0px;
  border-top: 2px;
  border-style: solid;
  border-top-color: white;
  background-color: black;
  width: 68%;
  display:  flex;
  justify-content: center;
  align-items: center;
  margin: auto;  
}

/* footer */

.footer {
  background-color: rgba(177, 177, 177, 0.767);
  height: 200px;
  border: 0px;
  border-top: 2px;
  border-style: solid;
  padding-top: 10px;
  margin: auto;
  border-image: linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(0,0,0,0) 100%) 1;
}

footer a {
  color: rgb(0, 0, 0);
  text-decoration:none;
}

footer h5 {
  color: black;
}

footer a:hover, footer a:focus {
  color: rgb(255, 255, 255);
  text-decoration:none;
  border-bottom:1px dotted #999;
}

footer .form-control {
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}


.bottom-flare {
  background-color: rgb(224, 224, 224);
  height: 20px;
}