/* general */
div{
  /*font-family: 'Amatic SC';font-size: 22px;*/
  font-family: 'Poiret One', cursive;
  font-size: 22px;
}

h1 {
  text-decoration: underline;
}

.App {
  
  background-image: url('Images/stars.png');
  background-size: cover;
  
  color: white;
  border: 20px solid;
  border-image: url(Images/stars.png) 30 round;
}

.App-tint {
  background-color: rgba(0, 0, 0, 0.9);
  background-blend-mode: multiply;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* font color generator */


/* Navbar */
.navbar {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 20%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.5) 100%);
}

.logo {
  height: 100px;
  pointer-events: none;
}

.title {
  width: 400px;
}

/* Image Card */
.image-card {
  background-image: url('Images/ezgif.com-gif-maker.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 68%;
  height: 1050px;
  margin: auto;
  text-align: center;
}

.banner {
  background-color: rgba(201, 37, 37, 0.7);
  width: 66%;
  height: 200px;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  color: white;

}

.alert {
  color: black;
  font-weight: bold;
}

/* content */

.content {
  border: 0px;
  border-top: 2px;
  border-style: solid;
  border-top-color: white;
  background-color: black;
  width: 68%;
  display:  flex;
  justify-content: center;
  align-items: center;
  margin: auto;  
}

/* footer */

.footer {
  height: 200px;
  border: 0px;
  border-top: 2px;
  border-style: solid;
  border-top-color: white;
  background-color: black;
  width: 90%;
  display:  flex;
  justify-content: center;
  align-items: center;
  margin: auto;  
}

.bottom-flare {
  background-color: rgb(224, 224, 224);
  height: 20px;
}